<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>{{title}}</title>
  </head>
  <body>

    <h2 Class="headTitle">About</h2>

    <h3 class="title">High School</h3>
    <div class="txt">
      <p>{{name}}
        went to high school in Aurora until 2018 where he graduated top of his
        class during that time.
        <br />
        In high school
        {{name}}
        did a variety of extracurricular activity's such as sea cadets for 2
        years where he learned to sale, play music and which would lead him to
        later find love for biathlons and ruining and physical activity such as
        rock-climbing and later on joining the track and filed team and was
        taking fitness and self defense classes the school was offering.
        <br />
        This taught
        {{name}}
        Time management, consistency and dedication, excellent work ethic,
        organizational skills, team leading and mainly to not only get the work
        done but to ensure the work is something of quality</p>
    </div>
    <br />
    <h3 Class="title">College</h3>
    <p class="txt">
      {{name}}
      in 2019 came to Georgian College for Computer Programmer Analyst and is
      currently fishing his last year and is considering going into Project
      Management for one more year. Over the course of attending Georgian he has
      been running the CyberGrizzlies Esports Club and has developed many skills
      traits such as: Dedication, Team Building, Team Management, Event
      management, team coordination, portfolio and project management skills.
      {{name}}
      learned about Team Building, Team Management when he had built and
      organized and taught a team of mangers how to organize and run competitive
      teams with a grand total of 13 at one point.
    </p>

  </body>
</html>